img {
        width: 50%;
}

body {
    background-color: #030684;
    
}

p {
    color: #f6f9f4;

}

h1 {
    color: #f6f9f4;
}

h2 {
    color: #f6f9f4;
}

a href {
    color: #00ffd4;
}

article {
    width: 60%;
}

p {
    width: 40%;
}